.container {
    margin: 10% auto 4% auto;
    width: 595px;
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
}

footer{
    text-align: center;
}

.start-button {
    margin: 10px auto 10px auto;
    /* width: 95%; */
    display: none;
}

.answer-button {
    margin: 0 0 10px 0;
    width: 95%;
}

#timer-div {
    background-color: lightblue;
    text-align: center;
    height: 25px;
}

#question-div {
    background-color: lightgreen;
    text-align: center;

}

#answers-div {
    text-align: center;
    background-color: lightyellow;   
    padding: 10px 0 0 0;
}

#wait-screen {
    margin: 10% auto 4% auto;
    height: 300px;
    position: relative;
    top: -410px;

    width: 595px;
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
    display: none;

}

#wait-screen-reason {
    display: block;
}

#results-screen {
    margin: 10% auto 4% auto;
    height: 300px;
    position: relative;
    top: -410px;

    width: 595px;
    text-align: center;
    background-color: lightgrey;
    padding: 15px;
    display: none;

}