body {
    background-color: lightblue;
    overflow: hidden;
    
}

.container {
    margin: 10% auto 4% auto;
    width: 595px;
    text-align: center;
    background-color: lightblue;
    padding: 15px;
    
}

h4 {
    /* font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
     */

}

footer{
    text-align: center;
}

.start-button {
    margin: 10px auto 10px auto;
    /* width: 95%; */
    display: none;
}

.answer-button {
    margin: 0 0 10px 0;
    width: 95%;
}

#timer-div {
    background-color: lightblue;
    text-align: center;
    min-height: 54px;
    padding: 10px 0 0 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    
}

#question-div {
    background-color: lightblue;
    text-align: center;
    min-height: 60px;
    padding: 10px 10px 10px 10px;

}

#answers-div {
    text-align: center;
    background-color: lightblue;   
    padding: 10px 0 0 0;
}

#wait-screen {
    margin: 8% auto 4% auto;
    height: 400px;
    position: relative;
    top: -440px;

    width: 595px;
    text-align: center;
    background-color: lightblue;
    padding: 70px 15px 15px 15px;
    display: none;

}

#wait-screen-reason {
    display: block;
}

#results-screen {
    margin: 8% auto 4% auto;
    height: 400px;
    position: relative;
    top: -440px;

    width: 595px;
    text-align: center;
    background-color: lightblue;
    padding: 15px;
    display: none;

}